<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../assets/css/styles.css" rel="stylesheet">
   <title>SECURIT</title>
</head>
<body>
   <div>
      <img class="logo" src="../assets/images/logo.webp" width="300" alt="">
   </div>
   <div>
      <h2 class="title_page">
         Mot de passe oublié
      </h2>
    </div>
    <div>
        <h3>
            Entrez votre adresse mail pour recevoir un code de confirmation
        </h3>
    </div>
    <div>
        Email
    </div>
    <div>
        <label for="email"><input type="email" placeholder="📧"></label>
    </div>
    <div>
        <form action="/forgotten_password_verify">
            <button>Continuer</button>
        </form>
    </div>
</body>