<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../assets/css/styles.css" rel="stylesheet">
   <title>SECURIT</title>
</head>
<body>
   <div>
      <a href="/">
      <img class="logo" src="../assets/images/logo.webp" width="175" alt="">
      </a>
   </div>
   <div>
      <h2 class="title_page">
         Vérifiez votre boite mail et tapez le code de confirmation
      </h2>
    </div>
    <div>
        Code de confirmation
    </div>
    <div>
        <form action="/forgotten_password_verify_code" method="post">
        <label for="code"><input name="code" type="text" placeholder="ex : 12345"></label>
        
   <div>
    <p class="error">
         <%=error_message%>
      </p>
      </div>
    </div>
        <button>
            Continuer
        </button>
       <label for="email"><input name="email" type="email" value="<%=email%>" style="visibility: hidden;"></label>
        <label for="attempts"><input name="attempts" type="text" value="<%=attempts%>" style="visibility: hidden;"></label> 
    </form>
</body>