<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../assets/css/styles.css" rel="stylesheet">
   <title>SECURIT</title>
</head>
<body>
   <div>
      <img class="logo" src="../assets/images/logo.webp" width="300" alt="">
   </div>
   <div>
      <h2 class="title_page">
         Connexion
      </h2>
   </div>
   <div>
      Email : 
   </div>
   <div>
         <label for="email"><input type="text" placeholder="📧"></label>
   </div>
   <div>
      Mot de passe :
   </div>
   <div>
         <label for="password"><input type="password" placeholder="🔒"></label>
   </div>
   <div>
      <form action="/verify_code">
      <button>
         Connexion
         
      </button>
      </form>
      
   </div>
   
   <div>
      <a href="/register">Créer un compte</a>
   </div>
   <div>
      <a href="/forgotten_password">Mot de passe oublié</a>
   </div>
</body>
</html>