<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../assets/css/styles.css" rel="stylesheet">
   <title>SECURIT</title>
</head>
<body>
    <div>
      <a href="/">
      <img class="logo" src="../assets/images/logo.webp" width="300" alt="">
      </a>
   </div>
   <div>
    <h2 class="title_page">
        Creation de compte
    </h2>
   </div>
   <div>
        Email
   </div>
   <div>
      <form action="/check_register" method="post">
         <label for="email"><input name="email" class="email" type="email" placeholder="📧"></label>
   </div>
   <div>
    <p class="error">
         <%=error_message%>
      </p>
      </div>
   <div>
      <button>
         Continuer
      </button>
      </form>
    </div>
    <div>
      <a href="/">Connexion</a>
   </div>
</body>