<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../assets/css/styles.css" rel="stylesheet">
   <title>SECURIT</title>
</head>
<body>
   <div>
      <a href="/">
      <img class="logo" src="../assets/images/logo.webp" width="300" alt="">
      </a>
   </div>
   
   <div>
      <h2 class="title_page">
         Choisissez votre nouveau mot de passe
      </h2>
   </div>
    
   <div>
        <form action="/update_password" method="post">
    Mot de passe
   </div>
   <div>
    <label for="password">
        <input name="password" type="password" placeholder="🔒">
    </label>
   </div>
   <div>
    Mot de passe (confirmer)
   </div>
   <div>
    <label for="password"><input name="password_confirm" type="password" placeholder="🔒"></label>
    
   </div>
   <div>
    <p class="error">
         <%=error_message%>
      </p>
      </div>
   <div>
        <button>
            Créer
        </button>
        
   </div>
   <label for="email"><input name="email" type="email" value="<%=email%>" style="visibility: hidden;"></label>
   </form>
</body>
</html>