<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../assets/css/styles.css" rel="stylesheet">
   <title>SECURIT</title>
</head>
<body>
   <div>
      <a href="/">
      <img class="logo" src="../assets/images/logo.webp" width="300" alt="">
      </a>
   </div>
   
   <div>
      <h2 class="title_page">
         choisissez votre nouveau mot de passe
      </h2>
   </div>
    
   <div>
        <form action="">
    Mot de passe
   </div>
   <div>
    <label for="password">
        <input name="password" type="password" placeholder="🔒">
    </label>
   </div>
   <div>
    Mot de passe (confirmer)
   </div>
   <div>
    <label for="password">
        <input name="password_verify" type="password" placeholder="🔒">
    </label>
   </div>
   <div>
        <button>
            Créer
        </button>
    </form>
   </div>
</body>