<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../assets/css/styles.css" rel="stylesheet">
   <title>SECURIT</title>
</head>
<body>
   <div>
      <a href="/">
      <img class="logo" src="../assets/images/logo.webp" width="175" alt="">
      </a>
   </div>
   <div>
     <%=email%>
   </div>
   <div>
      <h2 class="title_page">
         Choisissez un nom d'utilisateur et un mot de passe
      </h2>
   </div>
   <div>
      Nom d'utilisateur
   </div>
   <div>
         <form action="/register_new_user" method="post">
   <label for="name"><input name="name" type="text" value=""></label>
   </div>
   <div>
      Role
   </div>
   <div>
      <label for="role"><select name="role">
         <option value="admin">Admin</option>
         <option value="inspector">Inspector</option>
      </select>
   </label>
   </div>
   <div>
    Mot de passe
   </div>
   <div>
    <label for="password">
        <input name="password" type="password" placeholder="🔒" value="">
    </label>
   </div>
   <div>
    Mot de passe (confirmer)
   </div>
   <div>
    <label for="password"><input name="password_confirm" type="password" placeholder="🔒" value=""></label></div>
       
   <div>
    <p class="error">
         <%=error_message%>
      </p>
      </div>
   
        <button>
            Créer
        </button>
        <div><label for="email"><input name="email" type="email" value="<%=email%>" style="visibility: hidden;"></label>
   </div>
    </form>
   
</body>