<!DOCTYPE html>
<html lang="fr">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="../assets/css/styles.css" rel="stylesheet">
   <title>SECURIT</title>
</head>
<body>
    <div class="header">
        <div class="header-left">
            <a href="/visit_list" class="go_home">
            <h1 style="font-style: normal; font-weight: bolder;">
                <%=user_name%>
            </h1>
            </a>
        </div>
        <div class="header-center">
            <a href="/visit_list">
            <img class="logo" src="../assets/images/logo.webp" width="125" alt="">
            </a>
        </div>
        <div class="header-right">
        </div>
   </div>
   <div>
    <h2 class="title_page">
        Visites
    </h2>
   </div>
   <div>
    <input type="text" placeholder="🔎 Rechercher...">
    <form action="" method="post">
    <button class="add_company">➕</button>
    </form>
   </div>
   <div>
    <table>
        <tr>
            <th>
                date
            </th>
            <th>
                entreprise
            </th>
            <th>
                
            </th>
        </tr>
        <tr>
            <td style="text-align: center;">
                27/11/2024
            </td>
            <td style="text-align: center;">
                EC1
            </td>
            <td style="text-align: center;">
                ✏️
            </td>
        </tr>
    </table>
   </div>
</body>