h1 {
    color: brown;
    text-align: center;
}

h3 {
    color: grey;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 243, 236);
}

label {
    display: flex;
}

input {
    display: flex;
    border-color: royalblue;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    font-size: large;
}

button {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    background-color: rgb(91, 91, 255);
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    margin-bottom: 30px;
    font-weight: bold;
}

button:hover {
    transform: translateY(-2px);
}

a {
    display: flex;
    padding-top: 10px;
}

img {
    display: flex;
    padding-top: 20px;
}

div {
    display: flex;
    align-items: center;
}

.title_page {
    display: flex;
    color:rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 50px;
    
}