h1 {
    color: brown;
    text-align: center;
}

h3 {
    color: grey;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 243, 236);
}

label {
    display: flex;
    border-color: blue;
    padding-bottom: 10px;
}

button {
    display: flex;
    padding-top: 10px;
    background-color: rgb(91, 91, 255);
    color: white;
}

a {
    display: flex;
    padding-top: 10px;
}

img {
    display: flex;
    padding-top: 30px;
}

div {
    display: flex;
    align-items: center;
}

.title_page {
    display: flex;
    color:rgb(0, 0, 0);
    text-align: center;
    
}