h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

h3 {
    color: gold;
    margin-bottom: 15px;
}



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(0, 18, 37);
}

label {
    display: flex;
}

input {
    display: flex;
    border-color: gold;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 15px;
    font-size: large;
}

button {
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px;
    background-color: goldenrod;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:large;
    margin-bottom: 30px;
    font-weight: bold;
}

button:hover {
    transform: translateY(-2px);
}

a {
    display: flex;
    padding-top: 10px;
    color: rgb(184, 139, 27);
    font-style: italic;
}

p {
    display: flex;
    color: goldenrod;
}

img {
    display: flex;
    padding-top: 20px;
}

div {
    display: flex;
    align-items: center;
    color: goldenrod;
    margin-bottom: 3px;
}

.title_page {
    display: flex;
    color: goldenrod;
    text-align: center;
    margin-bottom: 30px;
    
}

.error {
    color: red;
}

